# United States Department of Agriculture Food Database

[Source](https://github.com/morenoh149/postgresDBSamples/tree/master/usda-r18-1.0)

In [26]:
import psycopg2
import pandas as pd

In [27]:
from configparser import ConfigParser
 
def config(filename='database.ini', section='postgresql'):
    # create a parser
    parser = ConfigParser()
    # read config file
    parser.read(filename)
 
    # get section, default to postgresql
    db = {}
    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
    else:
        raise Exception('Section {0} not found in the {1} file'.format(section, filename))
 
    return db

In [44]:
from config import config
 
def connect(query):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # read connection parameters
        params = config()
 
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params)
      
        output = pd.read_sql(query, conn)
        return output

    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()
            print('Database connection closed.')

In [39]:
def showTables():
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # read connection parameters
        params = config()
 
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params)
      
        # create a cursor
        cur = conn.cursor()
        
   # execute a statement
        tables = []
        cur.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';")
        for table in cur.fetchall():
            tables.append(table)             
        return tables
       
       # close the communication with the PostgreSQL
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()
            print('Database connection closed.')

In [42]:
def showFields(table_name):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # read connection parameters
        params = config()
 
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params)
      
        # create a cursor
        cur = conn.cursor()
        
   # execute a statement

        cur.execute("Select * FROM " + table_name, " LIMIT 0;")
        colnames = [desc[0] for desc in cur.description]
        return colnames
       
       # close the communication with the PostgreSQL
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()
            print('Database connection closed.')

In [40]:
showTables()

Connecting to the PostgreSQL database...
Database connection closed.

[('data_src',),
 ('datsrcln',),
 ('fd_group',),
 ('footnote',),
 ('deriv_cd',),
 ('nutr_def',),
 ('src_cd',),
 ('nut_data',),
 ('food_des',),
 ('weight',)]

In [43]:
showFields("nut_data")

Connecting to the PostgreSQL database...
Database connection closed.

['ndb_no',
 'nutr_no',
 'nutr_val',
 'num_data_pts',
 'std_error',
 'src_cd',
 'deriv_cd',
 'ref_ndb_no',
 'add_nutr_mark',
 'num_studies',
 'min',
 'max',
 'df',
 'low_eb',
 'up_eb',
 'stat_cmt',
 'cc']

In [48]:
query = "SELECT * FROM nut_data;"
nut_data = connect(query)
nut_data.head()

Connecting to the PostgreSQL database...
Database connection closed.

,ndb_no,nutr_no,nutr_val,num_data_pts,std_error,src_cd,deriv_cd,ref_ndb_no,add_nutr_mark,num_studies,min,max,df,low_eb,up_eb,stat_cmt,cc
0,01001,205,0.06,0.0,NaN,4,NC,,,NaN,NaN,NaN,NaN,NaN,NaN,,None
1,01001,208,717.00,0.0,NaN,4,NC,,,NaN,NaN,NaN,NaN,NaN,NaN,,None
2,01001,262,0.00,0.0,NaN,7,Z,,,NaN,NaN,NaN,NaN,NaN,NaN,,None
3,01001,263,0.00,0.0,NaN,7,Z,,,NaN,NaN,NaN,NaN,NaN,NaN,,None
4,01001,269,0.06,0.0,NaN,4,NR,,,NaN,NaN,NaN,NaN,NaN,NaN,,None